.beginningtext {
    font-size:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    color:rgb(209, 139, 26);
    font-weight: 500;
    padding-bottom: 50px;
}

.Airbus {
    margin-left: 40%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Boeing {
    margin-left: 40%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Bombardier {
    margin-left: 30%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Cessna {
    margin-left: 39%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.centered-image { 
    display:block; margin:0 auto; 
}

@media only screen and (min-device-width:600px) {

.beginningtext {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 23%;
    color:rgb(209, 139, 26);
    font-weight: 500;
    padding-bottom: 50px;
}

.Airbus {
    margin-left: 48%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Boeing {
    margin-left: 48%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Bombardier {
    margin-left: 43%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.Cessna {
    margin-left: 45%;
    font-size: 30px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.centered-image { display:block; margin:0 auto; }
}


@media only screen and (min-device-width:900px) {

    .beginningtext {
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 32%;
        color:rgb(209, 139, 26);
        font-weight: 500;
        padding-bottom: 50px;
    }
    
    .Airbus {
        margin-left: 47%;
        font-size: 30px;
        font-weight: 300;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 20px;
    }
    
    .Boeing {
        margin-left: 48%;
        font-size: 30px;
        font-weight: 300;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 20px;
    }
    
    .Bombardier {
        margin-left: 45%;
        font-size: 30px;
        font-weight: 300;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 20px;
    }
    
    .Cessna {
        margin-left: 46%;
        font-size: 30px;
        font-weight: 300;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 20px;
    }
    
    .centered-image { display:block; margin:0 auto; }
    }